.loader {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  &__cog--large {
    width: 30vh;
    animation: spin infinite 5s linear;

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
