@import '../../variables';

.header {
  display: grid;
  grid-auto-flow: row;
  row-gap: 0.5em;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  padding: 1em 0;
  border-bottom: 5px double black;
  padding: 1em 2em;

  &__mobile {
    position: fixed;
    top: 0;
    left: -100vw;
    height: 100vh;
    width: 0;
    background-color: yellow;
    z-index: 100;
    opacity: 0;
    overflow: overlay;
    transition: all 0.5s ease-in-out;

    &_nav {
      display: grid;
      grid-auto-flow: row;
      padding: 1em 2em;
      row-gap: 1em;

      &_heading {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;

        &_logo {
          width: 3em;
          height: 3em
        }
      }

      &_filters {
        position: relative;
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2em;
        width: 100%;

        &--icon {
          height: 100%;
        }

        &_list {
          margin: 0;
          position: absolute;
          top: 2.5em;
          left: 0;
          width: 95%;
          display: grid;
          row-gap: 1em;
          grid-auto-flow: row;
          z-index: 15;
          background-color: white;
          padding: 0.5em;
          box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.425);

          .mobile__filters_container {
            display: grid;
            grid-auto-flow: row;
            row-gap: 0.5em;

            &_group {
              display: grid;
              row-gap: 0.5em;

              &_name {
                font-weight: bold;
              }

              &_items {
                display: flex;
                flex-wrap: wrap;
                justify-content: left;
                row-gap: 1em;
                column-gap: 1em;

                &--item {
                  display: flex;
                  padding: 5px;
                  justify-content: center;
                  align-items: center;
                  cursor: pointer;
                  scale: 1;

                  &:active {
                    scale: 1.1;
                  }

                  &_name {
                    font-size: 0.9em;
                    font-weight: 100;
                  }
                }
              }
            }
          }

          .mobile__filters_buttons {
            display: grid;
            grid-auto-flow: column;
            justify-content: flex-start;
            column-gap: 1em;
            padding: 0.5em;

            &_button {
              padding: 1em;
              font-weight: bold;
              background-color: white;
              border: none;
              outline: 1px solid blue;
              cursor: pointer;
              scale: 1;

              &:hover {
                scale: 1.1;
              }

              &:active {
                outline: 3px double yellow;
              }
            }
          }
        }
      }

      &_catalogue {
        justify-self: center;
        margin: 0;
        padding: 0;
      }

      &_categories {
        margin: 0;
        padding: 0;
        display: grid;
        grid-auto-flow: row;

        &_item {
          padding: 0.5em 0;
          border-bottom: 1px dotted black;

          &_controls {
            display: grid;
            grid-auto-flow: column;
            column-gap: 1.5em;
            justify-content: space-between;
            align-items: center;

            &--link {
              font-weight: normal;

              &:active {
                font-weight: bold !important;
              }
            }

            .showTypes, .hideTypes {
              font-size: 1.5em;

              &:active {
                font-weight: bold;
              }
            }
          }

          &_types {
            margin: 0;
            padding: 0 0.5em;

            &_type {
              padding: 0.2em 0;

              &:active {
                font-weight: bold;
              }
            }
          }
        }
      }

      &_contact {
        display: grid;
        row-gap: 1em;

        &_heading {
          padding: 1em 0;
          border-bottom: 1px solid black;
        }

        &_wrapper {
          display: grid;
          grid-auto-flow: column;
          grid-template-columns: 0.25fr 1fr;
          align-items: center;

          &--image {
            width: 2em;
            height: 2em;
          }
        }
      }
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_nav {
      display: grid;
      grid-auto-flow: column;
      column-gap: 1.5em;
      align-items: center;

      &_logo {
        width: 3em;
        height: 3em;
      }
    }

    &_search {
      width: 50%;
      display: flex;
      justify-content: center;
      border-bottom: 1px dotted black;
      position: relative;

      &:focus-within {
        border-bottom: 1px solid black;
      }

      &--searchBar {
        width: 90%;
        border: none;
        padding: 0.5em;

        &:focus-visible {
          outline: none;
        }
      }

      &--searchButton {
        border: none;
        cursor: pointer;
        background-color: transparent;
        scale: 1;

        &:hover {
          scale: 1.3;
        }

        &:active {
          scale: 1.5;
        }

        &--icon {
          height: 100%;
          width: 1em;
        }
      }

      &--preview {
        position: absolute;
        overflow-y: scroll;
        z-index: 10;
        top: 2em;
        max-height: 30vh;
        width: 100%;
        background-color: lightgray;

        &_link {
          display: flex;
          align-items: center;
          cursor: pointer;
          
          &:hover {
            background-color: grey;
          }
        }
      }
    }

    &_phones {
      display: flex;
      align-items: center;
      column-gap: 1em;

      &_numbers {
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
        font-weight: 700;
        row-gap: 0.5em;

        &--number {
          scale: 1;
          cursor: pointer;
  
          &:hover {
            scale: 1.1;
          }
        }
      }

      &_icon {
        height: 1.5em;
        width: 1.5em;
        background-repeat: no-repeat;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 0;
  
    &_categories {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 1em;
      margin: 0;
      padding: 0;
      background-color: white;

      &--item {
        line-height: 3em;
      }

      &--navLink {
        display: block;
        height: 100%;
        text-decoration: none;
        color: black;
        transition: color 0.5s ease-in-out;

        &:hover {
          color: lightblue;
          transition: color 0.5s ease-in-out;
        }

        &:active {
          color: darkblue;
          transition: color 0.5s ease-in-out;
        }
      }

      .active {
        position: relative;
        color: darkblue;
        
        &::after {
          content: "";
          position: absolute;
          top: 3em;
          width: 100%;
          display: flex;
          height: 2px;
          background-color: darkblue;
        }
      }

      &_filter {
        &--image {
          object-position: center;
          vertical-align: middle;
          cursor: pointer;
        }

        &--filterList {
          margin: 0;
          position: absolute;
          display: grid;
          row-gap: 1em;
          grid-auto-flow: row;
          z-index: 15;
          background-color: white;
          padding: 0.5em;
          box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.425);

          .filters__container {
            padding: 0.5em;
            display: grid;
            row-gap: 1em;

            &_group {
              display: grid;
              row-gap: 0.5em;

              &_items {
                display: flex;
                flex-wrap: wrap;
                justify-content: left;
                row-gap: 1em;
                column-gap: 1em;

                &--item {
                  display: flex;
                  padding: 5px;
                  justify-content: center;
                  align-items: center;
                  cursor: pointer;
                  scale: 1;

                  &:hover {
                    scale: 1.1;
                  }

                  &_name {
                    font-size: 0.9em;
                    font-weight: 100;
                  }
                }
              }
            }
          }

          .filters__buttons {
            display: grid;
            grid-auto-flow: column;
            justify-content: flex-start;
            column-gap: 1em;
            padding: 0.5em;

            &_button {
              padding: 1em;
              font-weight: bold;
              background-color: white;
              border: none;
              outline: 1px solid blue;
              cursor: pointer;
              scale: 1;

              &:hover {
                scale: 1.1;
              }

              &:active {
                outline: 3px double yellow;
              }
            }
          }
  
          p {
            margin: 0;
            font-weight: bold;
          }
        }
      }
    }

    &_miniCart {
      height: 1.5em;
      width: 1.5em;
      position: relative;
      cursor: pointer;

      &--count {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 5;
        top: -1.1em;
        left: 1.7em;
        width: 1em;
        height: 1em;
        font-size: 0.8em;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 50%;
        color: white;
        background-color: black;
        scale: 1;
      }

      &_cart {
        position: relative;

        &--icon {
          scale: 1;
  
          &:hover {
            scale: 1.2;
          }
    
          &:active {
            scale: 1.3;
          }
        }
      }
    }
    
    &_types {
      position: absolute;
      width: calc(100% - 5em);
      top: 3em;
      left: 0;
      z-index: 10;
      display: flex;
      flex-direction: row;
      column-gap: 1em;
      padding: 1em 2.5em;
      margin: 0;
      background-color: white;
      
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 0.1em;
        background-color: gray;
      }

      &--navLink {
        text-decoration: none;
        color: black;
        transition: color 0.5s ease-in-out;

        &:hover {
          color: lightblue;
          transition: color 0.5s ease-in-out;
        }

        &:active {
          color: darkblue;
          transition: color 0.5s ease-in-out;
        }
      }

      .active {
        position: relative;
        color: darkblue;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .header {
    font-size: $font-mobile;
    background-color: $background-mobile;
    &__main {
      &_phones {
        &_numbers {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    &__mobile {
      &_nav {
        padding: 1em;
      }
    }
  }
}
