.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  border-bottom: 1px solid black;

  &__heading {
    margin: 0;
  }

  &__pageSelector {
    &_label {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      column-gap: 1em;
  
      &_selector {
        padding: 0.5em 0;
      }
    }
  }

  &__sort {
    display: flex;
    align-items: center;
    column-gap: 1em;

    &--button {
      outline: 1px solid black;
      padding: 0.5em;
      cursor: pointer;

      &:hover {
        background-color: lightgray;
        outline: 1px solid yellow;
      }

      &:active {
        background-color: grey;
        outline: 1px solid blue;
      }
    }
  }
}

.goodsList__search {
  padding: 1em 0;
}

.goodsList__null {
  display: flex;
  justify-content: center;

  &_heading {
    padding: 1em 0;
  }
}

@media screen and (max-width: 600px) {
  .search {
    font-size: 0.6em;

    &__pageSelector_label_selector {
      font-size: 1em;
      padding: 0.5em 0;
    }
  }

  .goodsList__null {
    font-size: 0.8em;
  }
}
