@import '../../variables';

.minicart {
  background-color: white;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 60vh;
  display: grid;
  justify-content: center;
  grid-auto-flow: row;
  grid-template-rows: auto 1fr auto auto;
  row-gap: 0.5em;
  grid-template-columns: 95%;
  scrollbar-gutter: stable;
  overflow-y: auto;
  padding: 2em;
  cursor: auto;
  border-radius: 20px;

  &__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    font-weight: bold;

    &--clearCart {
      cursor: pointer;
      scale: 1;
      transition: scale 0.3s ease-in-out;

      &:hover {
        scale: 1.15;
        transition: scale 0.3s ease-in-out;
      }

      &:active {
        scale: 1.3;
        transition: scale 0.3s ease-in-out;
      }
    }
  }

  &--empty {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  &__products--item {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.1fr 0.2fr 0.7fr 0.5fr 0.2fr 0.5fr;
    border-bottom: 1px solid black;
    padding-bottom: 0.5em;
    column-gap: 1em;

    .item_remove {
      background-color: transparent;
      font-weight: 300;
      font-size: 1.5em;
      border: none;
      scale: 1;
      padding: 0 0.5em;
      cursor: pointer;
      transition: scale 0.3s ease-in-out;

      &:hover {
        scale: 1.3;
        transition: scale 0.3s ease-in-out;
      }

      &:active {
        scale: 1.5;
        font-weight: bold;
        transition: scale 0.3s ease-in-out;
      }
    }

    .item_image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .item_name, .item_specs, .item_price {
      align-self: center;
    }

    .item_name {
      font-weight: 500;
    }

    .item_specs {
      position: relative;
      font-weight: 300;

      &--change {
        display: inline-block;
        cursor: pointer;
        scale: 1;
        transition: scale 0.3s ease-in-out;
  
        &:hover {
          scale: 1.3;
          transition: scale 0.3s ease-in-out;
        }
  
        &:active {
          scale: 1.5;
          transition: scale 0.3s ease-in-out;
        }
      }

      &_edit {
        position: absolute;
        top: 0;
        left: 2em;
        display: grid;
        grid-auto-flow: row;
        background-color: white;
        z-index: 200;
        box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.425);

        &_buttons {
          display: grid;
          grid-auto-flow: column;
          column-gap: 0.1em;

          &--button {
            border: 1px dotted black;
            cursor: pointer;
            background-color: $button-color-fuchsia;
            transition: background-color 0.3s ease-in-out;

            &:hover {
              background-color: $background-2;
            }

            &:active {
              background-color: $background;
            }
          }
        }
      }
    }
    
    .item_price {
      font-weight: 300;
    }

    .item_quantity {
      display: grid;
      justify-items: center;
      align-items: center;
      font-weight: bold;
      row-gap: 0.5em;

      &--add, &--subtract {
        padding: 0.5em;
        background-color: transparent;
        border: none;
        color: black;
        outline: none;
        cursor: pointer;
        scale: 1;
        transition: scale 0.3s ease-in-out;

        &:hover {
          scale: 1.5;
          transition: scale 0.3s ease-in-out;
        }

        &:active {
          scale: 2;
          transition: scale 0.3s ease-in-out;
        }
      }
    }

    .item_price {
      display: grid;
      row-gap: 3.1em;
      font-size: 0.9em;

      &--all {
        font-weight: 600;
      }

      &--pre-order {
        font-weight: bold;
      }
    }
  }

  &__total {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    font-size: 1.5em;
    font-weight: bold;
  }

  &__buttons {
    display: flex;
    justify-self: end;
    column-gap: 1em;
    
    &_button {
      padding: 0.5em;
      font-size: 1.2em;
      font-weight: bold;
      background-color: $button-color-fuchsia;
      border: 1px solid black;
      outline: none;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: $background-2;
        transition: background-color 0.3s ease-in-out;
      }

      &:active {
        background-color: $background;
        transition: background-color 0.3s ease-in-out;
      }
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 1023px) {
  .minicart {
    width: 90vw;
    grid-template-columns: 100%;
    font-size: $font-mobile;
  }
}

@media screen and (max-width: 600px) {
  .minicart {
    width: 85vw;
    grid-template-columns: 100%;
    font-size: $font-mobile;

    &__products--item {
      display: grid;
      grid-auto-flow: row;
      row-gap: 0.5em;
      grid-template-rows: 3fr 0.5fr 0.5fr 0.5fr;
      grid-template-columns: 1fr 1fr;
      border-bottom: 1px solid black;
      padding-bottom: 0.5em;

      .item_remove {
        justify-self: start;
      }

      .item_name, .item_specs {
        grid-column: 1 / 3;
        padding: 0.5em 0;
      }

      .item_quantity {
        grid-auto-flow: column;

        &--add, &--subtract {
          scale: 1;
          transition: scale 0.3s ease-in-out;
  
          &:hover {
            scale: 1;
          }
  
          &:active {
            scale: 2;
            transition: scale 0.3s ease-in-out;
          }
        }
      }

      .item_price {
        justify-self: end;
        row-gap: 0;
      }
    }

    &__buttons {
      &_button {
        padding: 0.5em;
        font-size: $font-mobile;
        font-weight: bold;
        border: 1px solid black;
        outline: none;
        background-color: $button-color-fuchsia;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
  
        &:active {
          background-color: $background;
          transition: background-color 0.3s ease-in-out;
        }
      }
    }
  }
}
