$font-mobile: 0.8em;
$background: rgb(45, 185, 192);
$background-2: rgba(156, 249, 254, 0.936);
$product-color-link-color: rgb(0, 139, 146);
$button-color-fuchsia: rgb(252, 48, 89);
$button-color-fuchsia-2: rgb(255, 28, 88);
$button-color-peach: hsl(19, 100%, 60%);
$input-focus: rgba(252, 48, 89, 0.371);
$button-disabled: rgba(128, 128, 128, 0.350);
