@import './variables';

@mixin no-touch-select {
	-webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* prevent tap highlight color*/
	-webkit-tap-highlight-color: transparent; /* prevent tap highlight color*/
	// -webkit-user-select: none;  /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-focus-ring-color: transparent;
}

* {
  @include no-touch-select;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(150, 150, 150);
}

::-webkit-scrollbar-thumb {
  background: rgb(80, 80, 80);
}

body {
  font-family: Montserrat, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  a, a:visited {
    color: black;
    text-decoration: none;
  }

  div:focus-visible, button:focus-visible {
    outline: none !important;
  }

  li {
    list-style-type: none;
  }
  
  label {
    display: block;
  }

  p {
    margin: 0;
    padding: 0;
  }

  button, input, textarea, input::placeholder {
    font-family: Montserrat, Arial, sans-serif;
  }
}

.app {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(320px, 1400px);
  justify-content: center;
  overflow: overlay;
  background: linear-gradient(
    rgb(45, 185, 192) 8.6em,
    white 8.5em 80%
  );

  &__overlay-hidden {
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: 0;
    overflow: hidden;
    background-color: rgba(118, 189, 193, 0.326);
  }
  
  &__overlay-visible {
    visibility: visible;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: 0.99;
    overflow: hidden;
    background: rgba(118, 189, 193, 0.326);
    backdrop-filter: blur(2px);
    animation: opacity 0.3s ease-in-out;

    @keyframes opacity {
      from {
        opacity: 0;
      }

      to {
        opacity: 0.99;
      }
    }
  }

  .main {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 2em;
    padding: 0 2em;
  }

  &__content {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto 1fr auto;

    &_footer {
      height: 5em;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1em 0;
    }
  }

  .scrollToTop {
    position: fixed;
    z-index: 100;
    top: 85vh;
    right: 10vh;
    transform: rotate(-90deg);

    &__button {
      width: 1.5em;
      height: 1.5em;
      font-size: 2em;
      line-height: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 20%;
      color: rgba(0, 0, 0, 0.678);
      background-color: $button-color-fuchsia;
      cursor: pointer;
      opacity: 0.1;
      transition: opacity 1s ease-in-out,
        color 0.5s ease-in-out,
        background-color 1s ease-in-out;

      &:hover {
        background-color: $background-2;
        color: black;
        transition: opacity 0.5s ease-in-out,
          color 0.5s ease-in-out,
          background-color 0.5s ease-in-out;
      }

      &:active {
        background-color: $background;
        color: black;
        transition: opacity 0.5s ease-in-out,
          color 0.5s ease-in-out,
          background-color 0.5s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .app {
    background: linear-gradient(
      rgb(45, 185, 192) 4em,
      white 4em 80%
    );

    .scrollToTop {
      top: 50vh;
      right: 5vw;
    }

    .main {
      padding: 0 1em;
      row-gap: 1em;

      .links {
        font-size: $font-mobile;
      }
    }
  }
}

@media screen and (min-width: 340px) and (max-width: 360px) {
  .app {
    .main {
      padding: 0 0.5em;
      row-gap: 0.5em;
    }
  }
}
