.images__view {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;

  &--image {
    width: 80%;
    height: 100%;
    object-fit: contain;
  }

  &--button  {
    width: 2em;
    height: 2em;
    background-color: transparent;
    border: none;
    font-size: 2em;
    color: white;
    cursor: pointer;
  }

  .close {
    position: absolute;
    top: -2em;
    right: 0;

    &:hover {
      background: rgba(211, 211, 211, 0.3);
    }

    &:active {
      background: rgba(128, 128, 128, 0.3);
    }
  }

  .close--mobile {
    position: absolute;
    width: 100%;
    top: 100%;

    &:hover {
      background: rgba(211, 211, 211, 0.3);
    }

    &:active {
      background: rgba(128, 128, 128, 0.3);
    }
  }

  .back {
    &:hover {
      background: linear-gradient(to right, rgba(211, 211, 211, 0.3), transparent);
    }

    &:active {
      background: linear-gradient(to right, rgba(128, 128, 128, 0.3), transparent) ;
    }
  }

  .forward {
    &:hover {
      background: linear-gradient(to left, rgba(211, 211, 211, 0.3), transparent);
    }

    &:active {
      background: linear-gradient(to left, rgba(128, 128, 128, 0.3), transparent) ;
    }
  }
}

@media screen and (max-width: 1023px) {
  .images__view {
    width: 100vw;
  }
}
